<div class="border-right border-warning h-100">
  <div class="text-center">
      <img src="/static/image/k.jpg" class="image-flud rounded-circle mt-5" width="100px" height="100px">
  </div>
  <style>
  a.nav-link{
    color:whitesmoke
  }
  a.nav-link:hover{
    color: black;
    background-color: yellow;
  }
  a.nav-link.active{
    color: black;
    background-color: burlywood;
    font-weight: bold;
  }
</style>
  <h3 class="text-white mt-3 ">Kuldeep Yadav</h3>
  <hr class="border-light"> 
  <nav class="nav flex-column text-center">
   <a href="/" class="nav-link {{home}}" >Home</a>
   <a href="/services" class="nav-link {{services}}">services</a>
   <a href="/skill" class="nav-link {{skill}}" >skill </a>
   <a href="/contact" class="nav-link {{contact}}">contact</a>
  
  </nav>
  </div>